<div class="container">
  <p class="h2 text-center mt-4">Delete Photo</p>

  <div class="row mt-4">
    <div class="col-md-4 mx-auto">
      <div class="myform form">
        <form action="/photos/delete" method="post" name="delete">
          <div class="form-group mt-2">
            <input type="text" name="id" class="form-control" id="id" placeholder="Photo ID" required="required">
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
